services:
    elasticsearch:
      image: elasticsearch:8.11.0
      container_name: elasticsearch
      environment: 
        - discovery.type=single-node
        - ES_JAVA_OPTS=-Xms256m -Xmx256m
        - xpack.security.enabled=false
      ports: 
        - "9200:9200"
        - "9300:9300"
      volumes:
        - elasticsearch_data:/usr/share/elasticsearch/data
      networks:
        - elk

    logstash:
      image: logstash:8.11.0
      container_name: logstash
      volumes:
        - ./logstash/pipeline:/usr/share/logstash/pipeline
        - ./logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml
      ports:
        - "5044:5044"
        - "9600:9600"
      environment:
        - LS_JAVA_OPTS=-Xmx256m -Xms256m
      networks:
        - elk
      depends_on:
        - elasticsearch
  
    kibana:
      image: kibana:8.11.0
      container_name: kibana
      ports:
        - "5601:5601"
      environment:
        - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
        - XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=b6bc5b56eb282584cd41d6d2b0949fd55eee7552f0b996cefedf39be0246a2f9
        - XPACK_REPORTING_ENCRYPTIONKEY=d815b535b684f1a926d984a4978390903e29511735946328e8fb4857ae8e40b0
        - XPACK_SECURITY_ENCRYPTIONKEY=1ce60af17e2f0836e1642e83f929d3a514253e538e1b53949b5bbb39cc36e4e3
      networks:
        - elk
      depends_on:
        - elasticsearch

networks:
  elk:
    driver: bridge

volumes:
  elasticsearch_data:
